.review-item{
	color: #7CFC00;
}

@media only screen and (max-width: 800px) {
	img {
		height: 100%;
	    width: 100%;
	}
	.submit-button{
		font-size: 14px !important;
	}
	.review-item{
		font-size: 13.5px !important;
		line-height: 1.12;
	}
}
@media (min-width: 321px) and (max-width: 420px) {
	.review-poster{
	    height: 300px;
	    overflow: hidden;

	}
}
@media (min-width: 481px) and (max-width: 768px) {
    
}
