@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body{
  padding:0;
  margin:0;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color:white;
  margin-top:3px;
}

.reviews-heading{
  margin-top: 12px;
}

@media screen and (max-width: 799px) {
  .App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color:white;
    margin-top:0px;
  }
}
